<h4>
                    Paid: $
                    <span id="total" data-bind="text: paid"></span>
                </h4>
                <div data-bind="foreach: acceptedCoins">
                    <img data-bind="attr: { src: getImageUrl(), alt: value }, click: $parent.acceptCoin"/>
                </div>    

                <h3 data-bind="with: selectedCell">
                    <div data-bind="text: product.name"></div>
                        <div>
                            $ 
                            <span data-bind="text: product.price"></span> 
                        </div>    
                    </div>          
                </h3>

                <button class="btn btn-primary payButton" data-bind="enable: canPay, click: pay">Pay</button>
           