<div class="col-md-4 cell" data-bind="click: $parent.select, css: { selected: $parent.selectedCell().product === $data.product, sold: sold }">
                    <div class="col-md-6 image">
                        <img data-bind="attr: { src: product.category.getImageUrl(), alt: product.category.name }"/>
                    </div>
                    <div class="col-md-6 productInfo">
                        <div data-bind="text: product.name"></div>
                        <h4 data-bind="text: stock"></h3>
                        <h3 data-bind="text: '$ ' + product.price"></h3>
                    </div>
                </div>